.container,
.round-info {
   display: flex;
   justify-content: center;
   align-items: center;

}

.round-info {
   padding-top: 8%;
   padding-bottom: 20px;
   flex-direction: column;
}


.buttons {
   display: flex;
   justify-content: center;
 


}

h1 {
   display: flex;
   justify-content: center;
   align-items: center;
   margin-top: 10%;
   font-size: 55px;
}


button {
   margin: 10px;
   max-width: 158px;
   width: 158px;
   padding: 10px 30px;
   font-size: 25px;
}


#score,
#result {
   padding: 10px;
   font-size: 40px;
}

#score {
   font-weight: bold;
}